<footer>
    <div class="footerContainer">
      <h2 class="logo">Balloons</h2>
      <nav>
        <ul>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        </ul>
      </nav>
    </div>
</footer>