<header>
    <h1 class="logo">Balloons</h1>
    <nav class="headerNav">
      <ul>
        <li><a href="/" >Home</a></li>
        <li><a href="/services">Our services</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/users/login">Login</a></li>
      </ul>
    </nav>
</header>