<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %> 
  <body>
    <%- include('partials/header') %>
    <main>
        <section class="serviceImage border"></section>
        <section class="services border">
            <h2 class="subtitle">Our Services</h2>
            <div class="servicesContainer">

                <div class="service">
                    <div class="serviceImg">
                        <img src="/images/004.jpg" alt="">
                    </div>
                    <div class="serviceInfo">
                        <h3>Birthdays</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, reiciendis! Harum, sapiente? Quia eos natus ex assumenda sit perspiciatis voluptates</p>
                        <a href="#" class="btn">More info</a>
                    </div>
                </div>

                <div class="service">
                    <div class="serviceImg">
                        <img src="/images/003.jpg" alt="">
                    </div>
                    <div class="serviceInfo">
                        <h3>Weddings</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, reiciendis! Harum, sapiente? Quia eos natus ex assumenda sit perspiciatis voluptates</p>
                        <a href="#" class="btn">More info</a>
                    </div>
                </div>

                <div class="service">
                    <div class="serviceImg ps">
                        <img src="/images/015.jpg" alt="">
                    </div>
                    <div class="serviceInfo">
                        <h3>Photoshoots</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, reiciendis! Harum, sapiente? Quia eos natus ex assumenda sit perspiciatis voluptates</p>
                        <a href="#" class="btn">More info</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
