<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %> 
  <body>
    <%- include('partials/header') %>
    <main class="border sorry">
        <h2 class="subtitle">Sorry! You can't enter here</h2>

        <a href="/users/login" class="btn">Login</a>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
